# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Editor e IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Pacotes gerados
package-lock.json
yarn.lock

# Diretórios de build
android/.gradle/
android/app/build/
ios/Pods/
ios/build/

# Arquivos do sistema
*.iml
*.hprof
*.lock
*.idb
*.keystore
*.tflite
*.pyc
*.class

# Configuração do metro bundler
.expo/
.expo-shared/

# Cache e outras pastas de compilação
.expo/
.expo-shared/
tmp/
dist/
build/
.gradle/
env/
